/* Stylesheet by Geri, Will, and Matt 2019 */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);

h1 {
  text-transform: none;
  color:white;
}
h2 {
  text-transform: none;
  color:white;
}
h3 {
  text-transform: none;
  color:white;
}
h4 {
  text-transform: none;
  color:white;
}

p{
  text-transform: none;
  color:white;
}

/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: underline;
	color: white;
}

ul, li {
	list-style-type: decimal;
    list-style-position: outside;
    padding-left: 15px;
}

/* SECTION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
	text-align: center;
  padding-top: 70px;
}

h2 {
	text-transform: none;
	font-size: 4em;
	margin-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 0em;
}

h3 {
  color: white
	font-weight: 300;
	font-size: 2.8em;
}

.info {
	padding: 6px 8px;
	font-family: 'Lato', sans-serif;
	background: white;
	font-size: 14px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 220px;
	clear: both;
}

.info h2 {
	color: #000;
	font-weight: 800;
	font-size: 20px;
	float: right;
	line-height: 16px;
}

.info h3 {
	line-height: 40px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
	float: left;
	line-height: 16px;
}

.legend {
	line-height: 18px;
	color: #555;
	width: 105px;
	font-size: 12px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

body {
	font-family: 'Lato', sans-serif;
	background: #d8a146;
	text-align: left;
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: [map] 60% [features] 40%;
	grid-template-rows: [title] 100vh [body] 100vh;
	grid-template-areas:
		"header header"
		"map features"
}

body h2 {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-transform: bold;
	text-align: center;
}

body h4 {
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 20px;
	padding-bottom: 10px;
}

#map {
	position: fixed;
	width: 60%;
	background: #fff;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	grid-area: map;
}

#map h4 {
	padding-bottom: 0px;
}

.features {
	grid-area: features;
}

section {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 15px;
	font-size: 13px;
	max-width: 600px;
	opacity: 0.8;
}

section h2{
	text-align: left;
	margin-bottom: 40px;
}

section h3{
	font-size: 24px;
	font-weight: bold;
	color: black;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: left;
}

#title {
	background: url("../img/xray.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	padding-top: 25vh;
	z-index: 95;
	grid-area: header;
}

#title img {
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 99;
}

#title h2 {
	text-shadow: 3px 3px 2px #000;
	font-size: 8em;
	font-weight: 800;
	margin-bottom: 0px;
	letter-spacing: 4px;
}

#title h4 {
	text-shadow: 2px 2px 2px #000;
	font-size: 3em;
	font-weight: 800;
	text-align: center;
}

mark {
	font-family: 'Lato', sans-serif;
}
